.flex-2 {
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 0%;
}

.flex-3 {
    flex-grow: 3;
    flex-shrink: 3;
    flex-basis: 0%;
}

.header {
    height: 10%;
    margin: 0;
}

.body {
    height: 90%;
}

.width-auto {
    width: auto;
}

.homeText {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

@media screen and (min-width: 700px) {
    .flex-when-big {
        display: flex;
    }

    .only-small {
        display: none;
    }
}

.smallImageContainer {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.imageContainer {
    height: 80%;
}

.imageText {
    height: 20%;
}

#sidebarContainer {
    position: relative;
}

#sidebarContent {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
}