.flex-2 {
    flex-grow: 2;
    flex-shrink: 2;
    flex-basis: 0%;
}

.flex-3 {
    flex-grow: 3;
    flex-shrink: 3;
    flex-basis: 0%;
}

.header {
    height: 10%;
    margin: 0;
}

.body {
    height: 90%;
}

.width-auto {
    width: auto;
}

.homeText {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

@media screen and (min-width: 700px) {
    .flex-when-big {
        display: flex;
    }

    .only-small {
        display: none;
    }
}

.smallImageContainer {
    width: 240px;
    height: 150px;
    overflow: hidden;
}

.imageContainer {
    height: 80%;
}

.imageText {
    height: 20%;
}

#sidebarContainer {
    position: relative;
}

#sidebarContent {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
}

button:focus {
    outline: none !important;
}

button:active {
    transform: scale(0.98); 
}

input:focus {
    outline-color: orange !important;
}

select:focus {
    outline-color: orange !important;
}


.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 128px;
    height: 128px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 64px solid rgb(255, 255, 255);
    border-color: rgb(0, 0, 0) transparent rgb(255, 178, 36) transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }